@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TASA Explorer", sans-serif;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

body{
    padding-left: 20%;
    padding-right: 20%;
}

.box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#effect-one{
    overflow: hidden;
}
#effect-one span{
    display: inline-block;
}

#effect-two span{
    color: aqua;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 10;
}